:root {
    --main-color: #04345b;
    --primary-color: #6096FD;
    --secondary-color: #AA86F8;
    --tertiary-color: #FB7B8E;
    --fourth-color: #FAA7B8;
}

.AppBar{
    background-color: var( --primary-color) ; 
}

html {
    background-color: var( --main-color);
    box-sizing: border-box;
    color: white;
}

.App {
    text-align: left;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.login {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 100%;
}

.login {
    flex: 0 0 auto;
}

.login header {
    width: 100%;
    height: 80px;
    background-color: #444;
}

.login aside {
    flex: 1 0 auto;
    height: 100%;
    padding: 20px;
    font-style: italic;
    background-color: #333;
}

.login main {
    flex: 5 0 auto;
    height: 100%;
    padding: 20px;
    background-color: #222;
}

@media (max-width: 480px) {}

@media (max-width: 768px) {}

@media (max-width: 1024px) {}

@media (max-width: 1200px) {}